# Ignorar carpeta de resultado de integración
Custom/2win_andes_salud_interfases/ingresos_ambulatorios_hospitalizados
Custom/2win_andes_salud_interfases/Masivo
Custom/2win_andes_salud_interfases/resultados_proceso_prefactura
SuiteScript/ingresos_ambulatorios_hospitalizados
SuiteScript/resultados_proceso_prefactura
SuiteScript/2win_andes_salud_interfases/Masivo
SuiteScript/2win_andes_salud_interfases